/* this sets the websites defaut background and text colour*/
body
    {
        background-color: #171717;
        color: #EDEDED;
        position: relative;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        height: 100%;
        min-height: 100vh;
    }
/* the wrapper class and html rules are here to make sure there is no overflow on the site*/
#c_wrapper 
    {
        overflow-x: hidden;
        width: 100%;
        position: relative;
        height: 100%;
        min-height: 100vh;
    }

html 
    {
        position: relative;
        min-height: 100vh;
    }

/*  this following rule fixes the size of the logo on the navbar */
#logo
    {
    max-width: 75px!important; 
    }
/* this controls the size of the carousel and how overflow is dealt*/
.carousel-item
    {
        overflow: hidden;
        background-size: cover;
        min-height: 70vh!important; 
        max-height: 70vh!important; 
    } 
/* this controls the styling of the main header text of the carousel */
.carousel-header-text 
    {
        color: #EDEDED;
        margin: 7vh;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 10px;
        text-shadow: -1px 7px 20px #2b2b2bbf;
    }
/* this following rule adjusts the text alignment on the paragraphs and headings right to the logo on the index page for mobile screens */
@media (max-width:767px)
    {
       .alignmentadjust 
            {
                text-align: justify!important;
            }
    }
/*moves the header hyperlinks to rhe right*/
.c_nav_adjust
    {
        margin-left: 75vw!important;
    }
/*adjusts text to the right*/
.c_adjust_position_right
    {
        text-align: right!important;
    }
/*archive text styling*/
#archive 
    {
        min-height: 100vh;
        text-size-adjust: 4rem;
    }
/*the four base colours of my pallette*/
/*the naming convention is c_pallette_"colour"_"area affected"*/
.c_pallette_red_bg
    {
        background-color: #DA0037!important;
    }
.c_pallette_bright_bg
    {
        background-color: #EDEDED!important;
    }
.c_pallette_dark_bg
    {
        background-color: #171717!important;
    }
.c_pallette_light_bg
    {
        background-color: #444444!important; 
    }
.c_pallette_red_bor
    {
        border-radius: 2px!important;
        border-width: 2px!important;
        border-color: #DA0037!important;
    }
.c_pallette_bright_txt
    {
        color: #EDEDED!important;
    }
textarea
    {
        background-color: #444444!important;
        color: #EDEDED;
    }