/* the wrapper class is here to make sure there is no overflow on the site*/
#wrapper 
    {
        overflow-x: hidden;
        width: 100%;
        position: relative;
        height: 100%;
        min-height: 100vh;
    }